{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Store Information</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>County</th>
                <td>{{ entity.county }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('limetrail_storeinformation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('store_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
