{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProjectInformation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Projectphase</th>
                <th>Confidential</th>
                <th>Combo</th>
                <th>Managesitesdifferent</th>
                <th>Sap</th>
                <th>Storesquarefootage</th>
                <th>Increasesquarefootage</th>
                <th>Prjtotalsquarefootage</th>
                <th>Acttotalsquarefootage</th>
                <th>Timestamp</th>
                <th>User</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('projectinformation_show', { 'id': entity.id }) }}">{{ entity.projectPhase }}</a></td>
                <td>{{ entity.confidential }}</td>
                <td>{{ entity.combo }}</td>
                <td>{{ entity.manageSitesDifferent }}</td>
                <td>{{ entity.sap }}</td>
                <td>{{ entity.storeSquareFootage }}</td>
                <td>{{ entity.increaseSquareFootage }}</td>
                <td>{{ entity.prjTotalSquareFootage }}</td>
                <td>{{ entity.actTotalSquareFootage }}</td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('projectinformation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('projectinformation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('projectinformation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
