{% extends '::base.html.twig' %}



{% use 'LimeTrailBundle::datagrid.html.twig' with head_bottom as grid_head_bottom %}

{% block head_style %}
    {{ parent() }}
    {{ block('stylesheets') }}
{% endblock head_style %}

{% block head_bottom %}
{{ parent() }}
{{ block('grid_head_bottom') }}
<script>
  $(function() {
    // Link to open the dialog
    $( "#dialog-link" ).click(function( event ) {
      $( "#dialog" ).dialog( "open" );
      event.preventDefault();
    });


    // Hover states on the static widgets
    $( "#dialog-link, #icons li, #press" ).hover(
      function() {
        $( this ).addClass( "ui-state-hover" );
      },
      function() {
        $( this ).removeClass( "ui-state-hover" );
      }
    );


$( "#dialog" ).dialog({
      autoOpen: false,
      width: function(){
        var width = $(this.bDiv).find('div:first>id.thrace-datagrid-project_info:first'),
            shrinktofit = $('#thrace-datagrid-project_info').jqGrid('getGridParam', 'shrinkToFit');
        $('#thrace-datagrid-project_dates').jqGrid('setGridWidth',width,shrinktofit);
      },
      modal: true,
      closeOnEscape: true,
      buttons: [
        {
          text: "Done",
          click: function() {
            $( this ).dialog( "close" );
          }
        }
      ]
});
$('td.jqgrow').click(function(e) {
    e.preventDefault();
    $( "#dialog" ).dialog('open');
});
});
function openGrid (rowId) {
  $("#thrace-datagrid-project_info").jqGrid('setSelection',rowId,true);
  $("#dialog").dialog('open');
}
/*$("#mysearch").jqGrid(
  'filterGrid',
  '#thrace-datagrid-project_dates',
  {
  gridModel: false,
  filterModel: [
    {
      label: 'first rundate',
      name: 'rundate',
      stype: 'text',
      sopt: { dataInit: function (element) {$(element).datepicker({
                              dateFormat: "mm/dd/yy" })} }
    }
  ],
  }
);*/
$.extend($.fn.fmatter , {
  dependentGridLink : function(cellvalue, options, rowdata)
  {
    var s = '<a href="javascript:void(0);" onclick="openGrid('+
            cellvalue+
            ');">'+
            '<span class="ui-icon ui-icon-newwin" style="float: left; margin-right: .3em;"/>'+
            'Projects</a>';
    return s;
  }
});

jQuery.extend(jQuery.jgrid.edit, {
  recreateForm: true,
});
jQuery.extend(jQuery.jgrid.defaults, {
  ajaxSelectOptions: {
    type: "GET",
    dataType: 'html',
    data: {
      myid: function() {
        var row_id, cellValue;
        var $storegrid = $("#{{ 'thrace-datagrid-' ~ identifier }}"),
        row_id = $storegrid.jqGrid('getGridParam','selrow'),
        cellValue = $storegrid.jqGrid('getCell', row_id, 'State');
        return cellValue == false ? '' : cellValue;
      }
    }
  }
});

$.ajaxSetup({
  beforeSend: function(jqXHR, settings){
    settings.url = settings.url.replace(/(\?\w+=)/gi,'');
  }
});

  var grid = $("#{{ 'thrace-datagrid-' ~ identifier }}");
  var EditGridRow = grid.jqGrid.editGridRow;

  $.jgrid.extend ({editGridRow : function (rowid, p) {
    $.extend(p, {
      beforeShowForm : function (formid) {
        if (rowid == "new"){
          $("#{{ 'editmodthrace-datagrid-' ~ identifier }}").find('tr[rowpos]').each(function(i){
            if (this.className == 'FormData' & this.id != 'tr_JobRole'){
              $(this).remove();
            }
          });

          $("#tr_JobRole").clone()
            .attr('id', 'tr_Contact')
            .attr('rowpos', '2')
            .appendTo("#{{ 'TblGrid_thrace-datagrid-' ~ identifier }}>tbody");

          $("#tr_Contact>td.CaptionTD").html("Contact");

          $("#tr_Contact>td.DataTD>select").attr(
            {
              'id':'Contact',
              'name':'Contact'
            }
          );

          $("input#id_g").clone()
            .attr('id', 'project_g')
            .attr('name', 'ProjectId')
            .attr('value', function (index, attr) {
              var address = window.location.href;
              var regex = /\d+$/;
              var resultArray = address.match(regex);
              if (resultArray != null){
                return resultArray[0];
              } else {
                return attr;
              }
            })
            .insertAfter("input#id_g");

          $.ajax(
            {
              type: "POST",
              dataType: "html",
              url: "{{ path('fetch_contacts') }}"
            }
          ).done( function (html) {
            $("#tr_Contact>td.DataTD>select").html($(html).children("option"));
          });

        } else {

        }
      }
    });
    EditGridRow.call (this, rowid, p);
  }
  });

</script>
{% endblock %}
{% block content %}

  <a class="btn btn-primary" href="{{ path('trail_contact_new') }}">
    Create a new entry
  </a>
<div class="col-sm-12">{{ thrace_datagrid(identifier) }}</div>
   {{ block('sidebar') }}
{% endblock %}
