{% use 'LimeTrailBundle::sidebar.html.twig' %}

{% block title 'RHA Project Management' %}

{% block stylesheets %}
   {% stylesheets
       'bundles/datagrid/js/JqGrid/css/ui.jqgrid.css'
       'bundles/datagrid/js/JqGrid/css/stickyheader.css'
       'bundles/limetrailjquery/css/jquery-ui-1.10.4.custom.css'
       filter='cssrewrite'
    %}
   <link rel="stylesheet" href="{{ asset_url }}" />
   {% endstylesheets %}
{% endblock %}

{% block head_script %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script type="text/javascript">
            // Change JQueryUI plugin names to fix name collision with Bootstrap:
            $.widget.bridge('uitooltip', $.ui.tooltip);
            $.widget.bridge('uibutton', $.ui.button);
        </script>
{% endblock head_script %}

{% block head_bottom %}
   {% javascripts
      '@DataGridBundle/Resources/public/js/JqGrid/js/i18n/grid.locale-en.js'
      '@DataGridBundle/Resources/public/js/JqGrid/js/jquery.jqGrid.min.js'
      '@DataGridBundle/Resources/public/js/js/init-datagrid.js'
      'bundles/thracedatagrid/js/datagrid-formatters.js'
      '@DataGridBundle/Resources/public/js/JqGrid/plugins/jquery.searchFilter.js'
      '@DataGridBundle/Resources/public/js/JqGrid/plugins/jquery.contextmenu.js'
      '@DataGridBundle/Resources/public/js/JQuery/jquery.fmatter.js'
      '@DataGridBundle/Resources/public/js/JqGrid/js/ViewCommon.js'
   %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}
{# endblock head_bottom %}

{% block jquery #}
   <script>
/*$(function() {
  $(document).tooltip();
});*/
   $.extend($.fn.fmatter , {
RESTfulLink : function(cellvalue, options, rowdata)
{
var url = options.colModel.formatoptions.url;
var displayname = options.colModel.formatoptions.displayname;
if(typeof url == 'string' && displayname)
{
return '<a href="'+url + cellvalue+'">'+displayname+'</a>';
}else if(typeof url == 'string'){
return '<a href="'+url + cellvalue+'">'+cellvalue+'</a>';
}else{
return cellvalue;
}
}
});
$.extend($.fn.fmatter, {
    dateFmatter: function(cellvalue, options, rowObject) {
  if (cellvalue) {
    return $.jgrid.parseDate(
      'ISO8601Long',
      cellvalue.date,
      'ShortDate',
      $.extend({}, $.jgrid.formatter.date, options)
      );
  } else {
    return '---';
  }
}
});

/*$.extend($.fn.fmatter.dateFmatter, {
  unformat: function(cellvalue, options) {
    var a = $.map(cellvalue.split(/[^0-9]/), function(s) { return parseInt(s, 10) });
    return new Date(a[0], a[1]-1 || 0, a[2] || 1, a[3] || 0, a[4] || 0, a[5] || 0, a[6] || 0);
  }
});*/
	      /*http://stackoverflow.com/questions/8213162/add-button-to-jqgrid-column-header*/
/*   $(function() {
     $('div.ui-jqgrid-view').find('div.ui-jqgrid-hdiv table.ui-jqgrid-htable tr.ui-jqgrid-labels > th.ui-th-column > div.ui-jqgrid-sortable')
    .each(function () {
        $('<button>').css({float: "right", height: "17px"}).appendTo(this).button({
            icons: { primary: "ui-icon-gear" },
            text: false
        }).click(function (e) {
            var idPrefix = "jqgh_" + "{{ 'thrace-datagrid-' ~ identifier }}" + "_",
                thId = $(e.target).closest('div.ui-jqgrid-sortable')[0].id;
            // thId will be like "jqgh_list_name"
            if (thId.substr(0, idPrefix.length) === idPrefix) {
               $("#{{ 'thrace-datagrid-' ~ identifier }}").hideCol(thId.substr(idPrefix.length));
               return false;
            }
        });
     });
   });*/
   //jQuery.extend(jQuery.jgrid.defaults, { altRows:true });
    $("#{{ 'thrace-datagrid-' ~ identifier }}").jqGrid({
      gridComplete: stickHeaderWhileScrolling()
    });
    $( "#{{ 'searchmodfbox_thrace-datagrid-' ~ identifier }}" ).dialog("option", "modal", false);

jQuery.extend(jQuery.jgrid.edit, {
  recreateForm: true,
  closeAfterEdit: true,
  closeAfterAdd: true,
  afterShowForm: function(formId) {
      $("input#id_g").clone()
            .attr('id', '{{ identifier ~ '__token' }}')
            .attr('name', '__token')
            .insertAfter("input#id_g");

      $.ajax(
            {
              type: "POST",
              dataType: "html",
              url: "{{ path('token') }}"
            }
          ).done( function (html) {
            $("input#{{ identifier ~ '__token' }}").attr( 'value', html );
      });
    }
});
jQuery.extend(jQuery.jgrid.search, {
  closeOnEscape: true,
  closeAfterSearch: true,
  searchOnEnter: true
});
jQuery.extend(jQuery.jgrid.del, {
  delData: {'__token': "{{ default_csrf_token() }}" }
});
$(window).resize(function() {
    $("#{{ 'thrace-datagrid-' ~ identifier }}").jqGrid('setGridWidth', $("#{{ 'thrace-datagrid-container-' ~ identifier }}").width(), true);
});
</script>
{% endblock %}

