{% extends '::base.html.twig' %}
{% block head_style %}
    {{ parent () }}
  {% stylesheets
       'bundles/rharevit/css/reviticons.css'
       'bundles/rharevit/css/xltable.css'
       filter='cssrewrite'
  %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block title %}RHA Revit Guide{% endblock %}
{% block heading %}Painted Area Calculation Guide{% endblock %}
{% block content_content -%}
    <div class="border header clear-fix">

      <div id="accordion">

        <h3>Using the Spreadsheet</h3>
          <div>
            <p>
            Input the total area reported for both the split and the smooth face cmu into the chart below. it outputs gallons, email David.
            </p>

            <div class="ui-widget">
               <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                  <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                  <em>Short Explaination</em>: the top right number (default 642) is the gallons of <em>Paint</em> and the number below that (default 469) is gallons of <em>Block Filler</em>.
                  </p>
               </div>
            </div>
            <link rel=File-List href="CMU_Block_and_paint_areas_files/filelist.xml"/>

            {{ form_start(excel_form) }}
            <div id="CMU_Block_and_paint_areas_10666" align=center x:publishsource="Excel">
            
            <table id="paintcalc" border=0 cellpadding=0 cellspacing=0 width=699 style='border-collapse:
             collapse;table-layout:fixed;width:527pt'>
             <col width=79 style='mso-width-source:userset;mso-width-alt:2889;width:59pt'>
             <col width=21 style='mso-width-source:userset;mso-width-alt:768;width:16pt'>
             <col width=94 style='mso-width-source:userset;mso-width-alt:3437;width:71pt'>
             <col width=30 style='mso-width-source:userset;mso-width-alt:1097;width:23pt'>
             <col width=69 style='mso-width-source:userset;mso-width-alt:2523;width:52pt'>
             <col width=21 style='mso-width-source:userset;mso-width-alt:768;width:16pt'>
             <col width=69 style='mso-width-source:userset;mso-width-alt:2523;width:52pt'>
             <col width=21 style='mso-width-source:userset;mso-width-alt:768;width:16pt'>
             <col width=78 style='mso-width-source:userset;mso-width-alt:2852;width:59pt'>
             <col width=21 style='mso-width-source:userset;mso-width-alt:768;width:16pt'>
             <col width=68 style='mso-width-source:userset;mso-width-alt:2486;width:51pt'>
             <col width=64 span=2 style='width:48pt'>
             <tr height=51 style='height:38.25pt'>
              <td height=51 class=xl6410666 width=79 style='height:38.25pt;width:59pt'>SW
              PART #</td>
              <td class=xl7910666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl6510666 width=94 style='width:71pt'>DESCRIPTION</td>
              <td class=xl7810666 width=30 style='width:23pt'>&nbsp;</td>
              <td class=xl6610666 width=69 style='width:52pt'>SURFACE<br>
                TYPE</td>
              <td class=xl7710666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl6610666 width=69 style='width:52pt'>SURFACE<br>
                <span style='mso-spacerun:yes'></span>AREA<br>
                <font class="font510666">(Sq. Ft.)</font></td>
              <td class=xl7710666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl6610666 width=78 style='width:59pt'>WAL-MART<br>
                PROVISION FACTOR</td>
              <td class=xl7710666 width=21 style='width:16pt'>&nbsp;</td>
              <td colspan=2 class=xl6610666 width=132 style='width:99pt'>&nbsp;</td>
              <td colspan=2 class=xl6610666 width=132 style='width:99pt'>TOTAL GALLONS
              FURNISHED BY WAL-MART</td>
             </tr>
             <tr height=17 style='height:12.75pt'>
              <td height=17 class=xl7210666 style='height:12.75pt'>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7310666>&nbsp;</td>
              <td class=xl6910666>&nbsp;</td>
              <td class=xl7410666 width=69 style='width:52pt'>&nbsp;</td>
              <td class=xl7010666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl7410666 width=69 style='width:52pt'>&nbsp;</td>
              <td class=xl7010666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl7410666 width=78 style='width:59pt'>&nbsp;</td>
              <td class=xl7010666 width=21 style='width:16pt'>&nbsp;</td>
              <td class=xl7410666 width=68 style='width:51pt'>&nbsp;</td>
              <td class=xl7410666 width=64 style='width:48pt'>&nbsp;</td>
              <td colspan=2 class=xl9010666 width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=49 style='height:36.75pt'>
              <td height=49 class=xl6710666 style='height:36.75pt'>A5-400</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6810666 width=94 style='width:71pt'>Paint<br>Elastomeric</td>
              <td class=xl8110666 width=30 style='width:23pt'>&nbsp;</td>
              <td class=xl6810666 width=69 style='width:52pt'>Smooth Face<br>
                <font class="font610666">(Finish)</font></td>
              <td class=xl8110666 width=21 style='width:16pt'>&nbsp;</td>
              <td>{{ form_row(excel_form.smooth, {'attr': {'height':49, 'class':'xl8210666', 'style':'margin-left:2px;height:36.75pt; width:45pt', 'size':'7px'} }) }}</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6310666>62</td>
              <td class=xl8010666>&nbsp;</td>
              <td id="smoothpaint" colspan=2 class=xl9510666 style='border-left:none'>832</td>
              <td colspan=2 class=xl9110666 width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=34 style='mso-height-source:userset;height:25.5pt'>
              <td height=34 class=xl7210666 style='height:25.5pt'>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666 style='border-top:none'>&nbsp;</td>
              <td class=xl7510666 style='border-top:none'>&nbsp;</td>
              <td id="painttotal" colspan=2  class=xl9210666 style='border-top:none' width=132 style='border-top:none;width:99pt' align="center">845</td>
             </tr>
             <tr height=34 style='height:25.5pt'>
              <td height=34 class=xl6710666 style='height:25.5pt'>A5-400</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6810666 width=94 style='width:71pt'>Paint<br>
                Elastomeric</td>
              <td class=xl8110666 width=30 style='width:23pt'>&nbsp;</td>
              <td class=xl6810666 width=69 style='width:52pt'>Split Face<br>
                <font class="font610666">(Finish)</font></td>
              <td class=xl8110666 width=21 style='width:16pt'>&nbsp;</td>
              <td>{{ form_row(excel_form.split, {'attr': {'height':34, 'class':'xl8210666', 'style':'margin-left:2px;height:25.5pt; width:45pt', 'size':'7px'} }) }}</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6310666>50</td>
              <td class=xl8010666>&nbsp;</td>
              <td id="splitpaint" colspan=2 class=xl9510666 style='border-left:none'>106</td>
              <td colspan=2 class=xl8810666 style='border-top:none' width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=34 style='mso-height-source:userset;height:25.5pt'>
              <td height=34 class=xl7210666 style='height:25.5pt'>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666 style='border-top:none'>&nbsp;</td>
              <td class=xl7510666 style='border-top:none'>&nbsp;</td>
              <td colspan=2 class=xl9310666 style='border-top:none' width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=49 style='height:36.75pt'>
              <td height=49 class=xl6710666 style='height:36.75pt'>B42W46</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6810666 width=94 style='width:71pt'>Heavy Duty Blockfiller</td>
              <td class=xl8110666 width=30 style='width:23pt'>&nbsp;</td>
              <td class=xl6810666 width=69 style='width:52pt'>Smooth Face<br>
                <font class="font610666">(Primer)</font></td>
              <td class=xl8110666 width=21 style='width:16pt'>&nbsp;</td>
              <td id="smooth" height=49 class=xl8210666 style='height:36.75pt'>51,581</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6310666>90</td>
              <td class=xl8010666>&nbsp;</td>
              <td id="smoothfiller" colspan=2 class=xl9510666 style='border-left:none'>573</td>
              <td colspan=2 class=xl9110666 style='border-top:none' width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=34 style='mso-height-source:userset;height:25.5pt'>
              <td height=34 class=xl7210666 style='height:25.5pt'>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666>&nbsp;</td>
              <td class=xl7110666>&nbsp;</td>
              <td class=xl7510666 style='border-top:none'>&nbsp;</td>
              <td class=xl8910666 style='border-top:none'>&nbsp;</td>
              <td id="fillertotal" colspan=2 class=xl8510666 style='border-top:none' width=132 style='border-top:none;width:99pt' align="center">612</td>
             </tr>
             <tr height=34 style='height:25.5pt'>
              <td height=34 class=xl6710666 style='height:25.5pt'>B42W46</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6810666 width=94 style='width:71pt'>Heavy Duty Blockfiller</td>
              <td class=xl8110666 width=30 style='width:23pt'>&nbsp;</td>
              <td class=xl6810666 width=69 style='width:52pt'>Split Face<br>
                <font class="font610666">(Primer)</font></td>
              <td class=xl8110666 width=21 style='width:16pt'>&nbsp;</td>
              <td id="split" height=34 class=xl8210666 style='height:25.5pt'>5,323</td>
              <td class=xl8010666>&nbsp;</td>
              <td class=xl6310666>50</td>
              <td class=xl8010666>&nbsp;</td>
              <td id="splitfiller" colspan=2 class=xl9510666 style='border-left:none'>106</td>
              <td colspan=2 class=xl8810666 style='border-top:none' width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <tr height=18 style='height:13.5pt'>
              <td height=18 class=xl8410666 style='height:13.5pt'>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl7610666>&nbsp;</td>
              <td class=xl8310666>&nbsp;</td>
              <td class=xl8710666 style='border-top:none'>&nbsp;</td>
              <td colspan=2 class=xl8610666 style='border-top:none' width=132 style='border-top:none;width:99pt'>&nbsp;</td>
             </tr>
             <![if supportMisalignedColumns]>
             <tr height=0 style='display:none'>
              <td width=79 style='width:59pt'></td>
              <td width=21 style='width:16pt'></td>
              <td width=94 style='width:71pt'></td>
              <td width=30 style='width:23pt'></td>
              <td width=69 style='width:52pt'></td>
              <td width=21 style='width:16pt'></td>
              <td width=69 style='width:52pt'></td>
              <td width=21 style='width:16pt'></td>
              <td width=78 style='width:59pt'></td>
              <td width=21 style='width:16pt'></td>
              <td width=68 style='width:51pt'></td>
              <td width=64 style='width:48pt'></td>
              <td width=64 style='width:48pt'></td>
             </tr>
             <![endif]>
            </table>
            
            </div>
            
            
            
            
                        <p>If you would rather, you can download the excel sheet {{ form_row(excel_form.Download) }}.</p>
                      {{ form_rest(excel_form) }}
            {{ form_end(excel_form) }}
          </div>

        <h3>Get those paint areas</h3>
            <div>
               <p>To begin getting your paint calcs you will probably want to make a new takeoff schedule.  There may be a proto schedule in your project; however, making
                 a new schedule is easy and you'll have a bette runderstanding of exactly what the schedule is reporting.
               </p>
                  <div class="center">
                    <figure>
                        <figcaption>Ribbon location of material takeoff</figcaption>
                        <img src="{{ asset('bundles/rharevit/images/create_material_takeoff.png') }}" style="vertical-align:middle;"/>
                     </figure>
                  </div>
                  <div>
                  Selecting the <img src="{{ asset('bundles/rharevit/images/material_takeoff.png') }}" class="inline"/> will start you on your way.  You'll see the follwoing dialog.
                  For our purposes, we're only interested in <strong>walls</strong>.  Select the wall category and give your schedule a clever name. <em>Wall Paint Area</em>
                  works really well.  Be certain to change the <strong>Phase:</strong> to <em>New Construction</em>.
                       <div class="center">
                         <figure>
                             <img src="{{ asset('bundles/rharevit/images/new_material_takeoff.png') }}" style="vertical-align:middle;"/>
                             <figcaption>New Material Takeoff Dialog</figcaption>
                         </figure>
                       </div
                       <div class="ui-widget">
                           <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                              <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                                 Toggle through the tabs below - they are setup to mimic the dialog box in Revit.
                              </p>
                           </div>
                       </div>

                       <div id="tabs">
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tabs-1" aria-controls="Fields" role="tab" data-toggle="tab">Fields</a></li>
                                <li role="presentation"><a href="#tabs-2" aria-controls="Filter" role="tab" data-toggle="tab">Filter</a></li>
                                <li role="presentation"><a href="#tabs-3" aria-controls="Sorting/Grouping" role="tab" data-toggle="tab">Sorting/Grouping</a></li>
                                <li role="presentation"><a href="#tabs-4" aria-controls="Formatting" role="tab" data-toggle="tab">Formatting</a></li>
                                <li role="presentation"><a href="#tabs-5" aria-controls="Appearance" role="tab" data-toggle="tab">Appearance</a></li>
                              </ul>
                              
                              <div id="tabpanel" class="tab-content">
                                  <div id="tabs-1" role="tabpanel" class="tab-pane active">
                                    <p>
                                      <div class="center">
                                        <figure>
                                          <img src="{{ asset('bundles/rharevit/images/schedule_edit_fields.png') }}" style="vertical-align:middle;"/>
                                          <figcaption>Find the fields as shown in the right box.  The order doesn't really matter as long
                                          as you have the fields.</figcaption>
                                        </figure>
                                      </div>
                                    </p>
                                  </div>
                                  <div id="tabs-2" role="tabpanel" class="tab-pane">
                                    <p>
                                      <div class="center">
                                        <figure>
                                          <img src="{{ asset('bundles/rharevit/images/schedule_edit_filter.png') }}" style="vertical-align:middle;"/>
                                          <figcaption>Setup filters to match the above.  <em>Material: Name</em> is case sensitive.  Come back to this
                                          tab later and tweak it if your schedule data doesn't look correct.</figcaption>
                                        </figure>
                                      </div>
                                    </p>
                                  </div>
                                  <div id="tabs-3" role="tabpanel" class="tab-pane">
                                    <p><div class="center">
                                        <figure>
                                          <img src="{{ asset('bundles/rharevit/images/schedule_edit_sorting.png') }}" style="vertical-align:middle;"/>
                                          <figcaption>Sort by name helps with noticing incorrect data.  Do be sure to check the box <strong>Grand totals</strong></figcaption>
                                        </figure>
                                  </div></p>
                                  </div>
                                  <div id="tabs-4" role="tabpanel" class="tab-pane">
                                    <p><div class="center">
                                        <figure>
                                          <img src="{{ asset('bundles/rharevit/images/schedule_edit_formatting.png') }}" style="vertical-align:middle;"/>
                                          <figcaption>Select the <strong>Material:Area</strong> and check the box for Calculate totals</figcaption>
                                        </figure>
                                  </div></p>
                                  </div>
                                  <div id="tabs-5" role="tabpanel" class="tab-pane">
                                    <p>
                                      <div class="center">
                                        <figure>
                                          <img src="{{ asset('bundles/rharevit/images/schedule_edit_appearance.png') }}" style="vertical-align:middle;"/>
                                          <figcaption>Not important for this excercise - the defaults should be fine</figcaption>
                                        </figure>
                                      </div>
                                    </p>
                                  </div>
                              </div>
                         </div>

                        <div style="margin-top: 20px; padding: 0 .7em;">
                          <p style="float: left">
                          After you've gotten the dialog box edited as shown above then its time to click <img src="{{ asset('bundles/rharevit/images/ok_button.png') }}" style="display:inline; vertical-align:middle"/><br/>
                          You should now see a schedule which looks something like this, although it may have more rows.
                          </p>
                             <div class="center">
                                    <figure>
                                      <img src="{{ asset('bundles/rharevit/images/schedule_result.png') }}" style="vertical-align:middle;"/>
                                      <figcaption></figcaption>
                                    </figure>
                             </div>
                        </div>
                       </div>

      </div>
    </div>
      {% endblock %}

{% block content_sidebar -%}
   <div id="sidebar" class="ui-widget ui-helper-clearfix ui-corner-all" >
        <ul id="menu">
          <li><a href="{{ path('rha_revit_default_index') }}"><span class="ui-icon ui-icon-home"></span>Home</a></li>
          <li><a href="{{ path('rha_revit_keynoting') }}"><span class="ui-icon ui-icon-circle-triangle-e"></span>Key Noting</a></li>
          <li><a href="{{ path('rha_revit_revisesheets') }}"><span class="ui-icon ui-icon-circle-triangle-e"></span>Revised Sheets</a></li>
          <li><a href="{{ path('rha_revit_shellplan') }}"><span class="ui-icon ui-icon-circle-triangle-e"></span>Shell Plan</a></li>
          <li><a href="{{ path('rha_revit_revitui') }}"><span class="ui-icon ui-icon-circle-triangle-e"></span>Revit UI</a></li>
          <li><a href="{{ path('rha_revit_demoplan') }}"><span class="ui-icon ui-icon-circle-triangle-e"></span>Demo/Phasing Plans</a></li>
         </ul>
         <p id="sidebarfooter">

         </p>
   </div>

{% endblock %}

{% block foot_script %}
    {{ parent () }}
<script>
    $(document).ready(function () {
        $( 'table#form_smooth input' ).trigger('change');
        $( 'table#form_split input' ).trigger('change');
              
        var table = $('table#paintcalc');
        $('#form_smooth', table).change(function()
        {
         var smooth = $( '#form_smooth', table ).val();
         $( table ).find("td#smooth").html(smooth);
         $( table ).find("#smoothpaint").html(function()
          {
            return Math.round(parseInt(smooth)/62);
          });
         $( table ).find("#smoothfiller").html(function()
          {
            return Math.round(parseInt(smooth)/90);
          });
         $( table ).find("#painttotal").html(function()
          {
            var smoothpaint = $( table ).find("#smoothpaint").html();
            var splitpaint = $( table ).find("#splitpaint").html();
            return  (parseInt(smoothpaint) + parseInt(splitpaint))*0.9;
          });
         $( table ).find("#fillertotal").html(function()
          {
            var smoothfiller = $( table ).find("#smoothfiller").html();
            var splitfiller = $( table ).find("#splitfiller").html();
            return  (parseInt(smoothfiller) + parseInt(splitfiller))*0.9;
          });
        });
        
        $( '#form_split', table ).change(function()
        {
         var split = $( '#form_split', table ).val();
         $( table ).find("td#split").html(split);
         $( table ).find("#splitpaint").html(function()
          {
            return Math.round(parseInt(split)/50);
          });
         $( table ).find("#splitfiller").html(function()
          {
            return Math.round(parseInt(split)/50);
          });
         $( table ).find("#painttotal").html(function()
          {
            var smoothpaint = $( table ).find("#smoothpaint").html();
            var splitpaint = $( table ).find("#splitpaint").html();
            return  (parseInt(smoothpaint) + parseInt(splitpaint))*0.9;
          });
         $( table ).find("#fillertotal").html(function()
          {
            var smoothfiller = $( table ).find("#smoothfiller").html();
            var splitfiller = $( table ).find("#splitfiller").html();
            return  (parseInt(smoothfiller) + parseInt(splitfiller))*0.9;
          });
        });
    });
</script>
  
{% endblock foot_script %}